<div class="container">
<h1><%= @restaurant.name %></h1>

<p><strong>Address:</strong> <%= @restaurant.address %></p>
<p><strong>Phone Number:</strong> <%= @restaurant.phone_number %></p>
<p><strong>Category:</strong> <%= @restaurant.category %></p>
<%= link_to "Back to restaurants", restaurants_path, class: "btn btn-primary" %>

<h2>Reviews</h2>

<ul>
  <% @reviews.each do |review| %>
  <li>
  <%= review.restaurant_id %>
  <%= "⭐️" * review.rating %>
  <%= review.content %>
  </li>
  <% end %>
</ul>

<%= link_to "Add new review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
</div>
