<div class="container">
<nav class="navbar">
  <%= link_to "Back to Restaurant List", root_path, class: "btn btn-primary m-3"%>
  <%= link_to "Add new restaurant", new_restaurant_path, class: "btn btn-primary m-3" %>
</nav>
<h1><%= @restaurant.name %></h1>

<p><strong>Address:</strong> <%= @restaurant.address %></p>
<p><strong>Phone Number:</strong> <%= @restaurant.phone_number %></p>
<p><strong>Category:</strong> <%= @restaurant.category %></p>

<h1>Reviews</h1>
<h3>Add new review</h3>

<h3><%= @restaurant.name %></h3>
<%= render "new_review", restaurant: @restaurant, review: @review %>


<ul>
  <% @reviews.each do |review| %>
  <li>
  <%= "⭐️" * review.rating %>
  <%= review.content %>
  </li>
  <% end %>
</ul>

</div>
